{{#layout}}
<div class="aboutUs">

    <div class="block2">
        <h1>О компании</h1>
        <h3>
            Целью создания данного интернет-магазина, была возможность предложить пользователям самый широкий спектр автомобильных запасных частей, расходных материалов, развитие интернет–технологий дало такую возможность максимально упростить и ускорить процесс покупки, а мы постарались уменьшить сроки доставки до 1 часа (для пользователей г. Сарань), по многим позициям. Сегодня мы предлагаем нашим клиентам:
        </h3>
        <p>
            Обширный on-line каталог автозапчастей для автомобилей европейских, японских и корейских производителей.
            Возможность поиска интересующих деталей с помощью иллюстрированного каталога.
            Получение максимально полной информации о детали — наличие аналогов у различных производителей, применяемости, ценах и сроках поставки.
            Мы сотрудничаем более чем с 300-ми поставщиками из Европы, ОАЭ, Японии, России и Казахстана.
            Каждый клиент получает персонального менеджера, который отслеживает всю цепочку от размещения заказа до его получения.
            Полностью автоматизированная система клиентского on-line контроля за выполнением заказа: компьютерное управление оплатой/доставкой.
            Оповещения любым удобным способом: SMS/E-mail/через интернет-магазин
            Офис компании находится в Казахстане, г. Сарань ул. Чкалова 74
            Работая с нами и нашими партнерами, Вы всегда можете быть уверены в грамотном и вежливом обслуживании, быстроте и точности исполнения заказов, высоком качестве продукции. Мы будем рады видеть Вас среди наших клиентов!
        </p>
        <h2>С уважением, Коллектив «СОТ».</h2>
    </div>
<p>Мы находимся по адресу: г. Сарань, улица Чкалова 74</p>
<p>По всем вопросам обращаться по номеру: 87781356799</p>
<!--<img src="img/gis.png" alt="" class="gis"/>-->
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1275.8812211007282!2d72.83013921553473!3d49.79683374052893!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x42436c0a1aa5d6d1%3A0x306ce6e1a45dbf4c!2z0YPQuy4g0KfQutCw0LvQvtCy0LAgNzQsINCh0LDRgNCw0L3RjCAxMDAwMDA!5e0!3m2!1sru!2skz!4v1590830830612!5m2!1sru!2skz" width=100% height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe></div>
{{/layout}}
{{>layout}}