{{#layout}}
<div class="block1">
    <img src="pictures/glavnaya.jpg">
</div>
<div class="block2">
    <h1>Автозапчасти в Сарани</h1>
    <h2>Добро пожаловать в интернет-магазин автозапчастей TOO «COAF official tech»!</h2>
    <p>Каждый автовладелец знает на своем опыте, что порой бывает не просто найти комплектующие детали для ремонта. Автомобильные мастерские не всегда располагают складом, и цены там к тому же обычно завышены. Приходится тратить немало времени на поиск нужных деталей в магазинах и на авторынках, которые не всегда могут быть качественными. Сегодня интернет-магазины представляют наиболее оперативную и комфортную покупку необходимых товаров для транспортного средства.</p>
    <h3>Магазин автозапчастей ТОО «СОТ» это каталог запчастей для иномарок в Казахстане.</h3>
    <ul class="ulBlock">
        <li>У нас автозапчасти на заказ из Алматы от ведущих европейских, японских, корейских, китайских и американских изготовителей по самой приемлемой цене для вас и максимально кротчайшими сроками доставки в любой регион Казахстана.</li>
        <li>У нас в интернет-магазине имеется широкий ассортимент оригинальных и аналоговых запасных частей. Необходимые детали для вашей машины можно подобрать с помощью параметров поиска: выбрав марку автомобиля. Вы можете самостоятельно произвести поиск автозапчастей по каталогу и оформить заказ на сайте, или позвонить по указанным на странице сайта контактным телефонам, и получить профессиональную консультацию от опытных специалистов. Мы стараемся обеспечить удобство для наших клиентов.</li>
        <li>У нас имеется оптовая продажа автозапчастей.</li>
        <li>У нас автозапчасти для иномарок отличного качества.</li>
    </ul>
    <p>
        Теперь с интернет-магазином запчастей для иномарок в Казахстане TOO «COAF official tech» купить запасные детали для любого автомобиля стало легко, быстро и недорого.
        ТОО «СОТ» – это интернет-магазин запчастей для иномарок в Казахстане, здесь вы можете приобрести аналоговые автозапчасти или заказать онлайн запчасти для иномарок.
        Надеемся, что выбрав наш интернет-магазин автозапчастей, вы обретете для себя надежного партнера, что поможет нам вместе с вами добиться успеха и процветания.
        Также на нашем сайте вы можете в онлайн режиме записаться в автосервис «COT», где ваш автомобиль обслужат высококвалифицированные специалисты.
    </p>
</div>
{{/layout}}
{{>layout}}